.header {
  height: 70px;
  background-color: bisque;
  position: sticky;
  top: 0px;
  z-index: 10;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
}

.wrapper {
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 15px 0 15px;
  max-width: 960px;
  height: inherit;
}

.logo {
  background-color: black;
  color: white;
  padding: 7px;
  border-radius: 7px;
}
